_minted-HPC
.vscode
*.DS_Store
Pictures
*.bib
*.aux
*.log
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.listing
*.xml
*.gz
*.toc
*.bcf
*.xlsx
*.o
*.prof*
*.tex
*.mod
build/
bin/
output/
docs/html/
docs/doxygen_warnings.log
